.edit-page{
    height: calc(100% - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    p{
        margin-top: 1em;
    }

    .edit-form{
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
        padding: 2em 3em;
        box-shadow: 0 0 2px white;

        label{
            width: 100%;
            margin-bottom: -.8em;
        }

        input{
            height: 40px;
            width: 300px;
            border-radius: .3em;
            text-indent: 1em;
            font-size: 1.125rem;
        }

        .upload-photo{
            border: 1px solid white;
            padding: .5em 2em;
            flex-direction: column;
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 1em;
            border-radius: .5em;

            input{
                display: none;
            }

            .camera-icon{
                font-size: 1rem;
                width: 35px;
                height: 35px;
            }
        }

        button{
            padding: .2em 1em;
            font-weight: 600;
            border-radius: .2em;
            margin-top: .5em;
        }
    }
}

@media screen and (max-width:450px){
    .edit-page{

        .edit-form{
            padding: 1em 1em;

            input{
                width: 250px;
            }

        }
    }
}