@import "./header";
@import "./main";
@import "./footer";
@import "./contact";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: black;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.dark--mode{
    background-color: #0d0c14;   //#060d06
    color: white;
}

#root{
    height: 100%;
    width: 100%;
}