@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
.fa-bars {
  display: none;
}

.header {
  height: 10%;
  background-color: #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--logo {
  margin-left: 2em;
}

.header--logo__image {
  width: 6rem;
}

.header--right {
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.header--right__ul {
  font-weight: 500;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
}

.header--right__ul__li {
  list-style: none;
  font-weight: 600;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.header--right__ul__li:hover {
  text-decoration: underline;
}

.header--right__ul__li:active {
  background-color: black;
}

.header--right__ul .logout {
  border: 1px solid #0d0c14;
  padding: .5em 1em;
  border-radius: .2em;
  font-weight: 600;
  font-size: 1.125rem;
}

.header--right__toggler {
  width: 50px;
  height: 25px;
  position: relative;
  background-color: white;
  border: 2px solid black;
  border-radius: 100vmax;
  cursor: pointer;
  margin-right: 1em;
}

.header--right__toggler::after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 100%;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  border: 2px solid black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header--right__toggler.dark {
  background-color: #06060a;
}

.header--right__toggler.dark::after {
  left: 1.6em;
}

@media screen and (max-width: 650px) {
  .fa-bars {
    display: initial;
  }
  .header {
    position: relative;
  }
  .header--logo {
    margin-left: .5em;
  }
  .header--right {
    display: none;
    -webkit-box-shadow: 0 0 5px 0 black;
            box-shadow: 0 0 5px 0 black;
    margin-right: .5em;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: -.5em;
    top: 10vh;
    background-color: white;
    z-index: 100;
    padding: 1em 2em;
    height: 300px;
    width: 200px;
  }
  .header--right__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  .header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5em;
    margin-right: 1em;
  }
  .header .navbar .fa-bars {
    color: black;
    width: 2.5rem;
  }
}

.main {
  height: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main--left {
  position: relative;
  padding-left: 2em;
  width: 50%;
  -webkit-box-shadow: 2px 0 2px 2px #dedede;
          box-shadow: 2px 0 2px 2px #dedede;
}

.main--left__date {
  position: absolute;
  top: .5em;
  font-size: .8rem;
  font-weight: bold;
  left: 2.4em;
}

.main--left__addBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  margin-top: 2em;
  margin-bottom: 1em;
  cursor: pointer;
  width: 180px;
}

.main--left__addBtn p {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 2px solid black;
}

.main--left__addBtn .p--darkMode {
  border: 2px solid white;
}

.main--left--task__div {
  padding: 1em 0;
  padding-right: 1em;
  margin-right: 1em;
}

.main--left--task__div__textfield {
  border: 2px solid black;
  border-radius: .5em;
  padding: 1em .5em;
  margin-bottom: 1em;
  height: 150px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.main--left--task__div__textfield input, .main--left--task__div__textfield textarea {
  height: 30px;
  text-indent: .5em;
  padding: .5em 0;
  border: none;
  outline: none;
}

.main--left--task__div__textfield textarea {
  height: 100px;
  overflow-y: scroll;
  cursor: pointer;
}

.main--left--task__div__textfield textarea::-webkit-scrollbar {
  width: .5em;
}

.main--left--task__div__textfield textarea::-webkit-scrollbar-track {
  background: gray;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main--left--task__div__textfield textarea::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 100vmax;
}

.main--left--task__div__textfield.darkMode {
  background-color: white;
}

.main--left--task__div__button {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .5em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main--left--task__div__button__cancel {
  background-color: #D9D9D9;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: .2em 1em;
}

.main--left--task__div__button__cancel.darkMode {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.main--left--task__div__button__add {
  background-color: #281732;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  padding: .2em 1em;
}

.main--left--task__div__button__add.darkMode {
  background-color: #D9D9D9;
  color: #281732;
}

.main--right {
  position: relative;
  width: 50%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main--right::-webkit-scrollbar {
  width: .8em;
}

.main--right::-webkit-scrollbar-track {
  background: gray;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main--right::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 100vmax;
}

.main--right__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .5em;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-right: 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--right__sort select {
  cursor: pointer;
  border-radius: 5px;
}

.main--right__task {
  position: relative;
  border-bottom: 1px solid #acacac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: .5em;
  padding: 0 1em;
  margin-top: 1em;
  padding-bottom: .5em;
}

.main--right__task__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main--right__task h4 {
  font-weight: 500;
  font-size: .9rem;
}

.main--right__task p {
  font-size: .7rem;
}

.main--right__task input {
  cursor: pointer;
  margin-top: .4em;
}

.main--right__task__buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
  font-size: .8rem;
  right: .5em;
  top: 2em;
}

.main--right__task__buttons .fa-solid {
  cursor: pointer;
}

.main .modal__message {
  text-align: center;
  font-size: .8rem;
  width: 300px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  padding: .5em 1em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 800px) {
  .main--left--task__div__button,
  .main--left--task__div__textfield {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main--right, .main--left {
    width: 100%;
  }
  .main--left {
    padding-left: .5em;
  }
  .main--left--task__div {
    margin: 0;
  }
  .main--left__date {
    left: .5em;
  }
  .main--right__sort {
    margin-right: .5em;
  }
  .main--right__task {
    padding-left: .5em;
  }
}

.footer {
  background-color: #EBEBEB;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--logo {
  margin-left: 2em;
}

.footer--logo img {
  width: 80px;
}

.footer p {
  font-size: .8rem;
}

.footer--icons {
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  color: #3737fd;
}

.footer--icons .fa-brands {
  cursor: pointer;
}

.footer--icons .fa-github {
  color: black;
}

@media screen and (max-width: 650px) {
  .footer {
    height: 10%;
  }
  .footer--logo {
    margin-left: .5em;
  }
  .footer--icons {
    margin-right: .5em;
  }
}

.contact--section {
  position: relative;
  height: 80vh;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact--section__div {
  position: absolute;
  top: 2em;
  padding: 2em 2em;
  background-color: #EBEBEB;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact--section__div__name, .contact--section__div__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
  margin-bottom: 1em;
  width: 400px;
}

.contact--section__div__name input, .contact--section__div__email input {
  height: 30px;
  border-radius: 5px;
  padding: .5em .5em;
  border: none;
}

.contact--section__div.darkMode {
  color: #281732;
  background-color: #f4f4f4;
}

.contact--section__div__textarea {
  width: 400px;
  height: 100px;
  display: block;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: .5em .5em;
  border: none;
}

.contact--section__div button {
  width: 150px;
  padding: .5em 0;
  border-radius: 100vmax;
  background-color: #281732;
  color: white;
}

.contact--section small {
  margin-bottom: .5em;
}

.contact--section p {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

@media screen and (max-width: 650px) {
  .contact--section__div {
    width: 350px;
  }
  .contact--section__div__name, .contact--section__div__email, .contact--section__div__textarea {
    width: 330px;
  }
  .contact--section p {
    text-align: center;
    font-size: 1em;
    margin-bottom: 1em;
  }
}

.welcome {
  text-align: center;
  margin-top: 6rem;
  font-size: 1.25rem;
}

.form {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  gap: 1.5em;
}

.form input {
  height: 2.5rem;
  width: 20rem;
  border-radius: .5em;
  text-indent: 1em;
  font-size: 1.125rem;
}

.form button {
  width: 20rem;
  height: 2.5rem;
  border-radius: 100vmax;
  font-size: 1.125rem;
  font-weight: 600;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.form button:hover {
  background-color: #0d0c14;
  color: white;
}

.form .signupBtn {
  color: white;
}

.signup-p {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.25rem;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  gap: 1.25rem;
  padding-block: 1em;
}

.signup-form input {
  height: 2.5rem;
  width: 20rem;
  border-radius: .5em;
  text-indent: 1em;
  font-size: 1.125rem;
}

.signup-form button {
  width: 20rem;
  height: 2.5rem;
  border-radius: 100vmax;
  font-size: 1.125rem;
  font-weight: 600;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.signup-form button:hover {
  background-color: #0d0c14;
  color: white;
}

.signup-form .signup-link {
  color: white;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  gap: .2em;
  cursor: pointer;
  text-decoration: none;
}

.user-profile img {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-profile .name {
  color: black;
  font-weight: 600;
}

.my-page {
  height: calc(100vh - 20%);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1em;
  gap: .5em;
}

.my-page .name-div {
  margin-bottom: 2em;
}

.my-page .name-div .name {
  text-transform: capitalize;
}

.my-page .profile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin-top: 2em;
}

.my-page .profile-nav .nav-link, .my-page .profile-nav button {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: .2em 1em;
  border-radius: 100vmax;
  background-color: white;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
}

.my-page .profile-nav button {
  font-size: 1rem;
}

.my-page .profile-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-page .profile-fields .profile-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5em;
  gap: 3rem;
}

.my-page .profile-fields .profile-field .field {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.my-page .profile-fields .profile-field .value {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.edit-page {
  height: calc(100% - 20vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-page .edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 3em;
  -webkit-box-shadow: 0 0 2px white;
          box-shadow: 0 0 2px white;
}

.edit-page .edit-form label {
  width: 100%;
  margin-bottom: -.8em;
}

.edit-page .edit-form input {
  height: 40px;
  width: 300px;
  border-radius: .3em;
  text-indent: 1em;
  font-size: 1.125rem;
}

.edit-page .edit-form .upload-photo {
  border: 1px solid white;
  padding: .5em 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  border-radius: .5em;
}

.edit-page .edit-form .upload-photo input {
  display: none;
}

.edit-page .edit-form .upload-photo .camera-icon {
  font-size: 1rem;
  width: 35px;
  height: 35px;
}

.edit-page .edit-form button {
  padding: .2em 1em;
  font-weight: 600;
  border-radius: .2em;
  margin-top: .5em;
}

.admin-search {
  height: calc(100vh - 20vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
}

.admin-search .single-user-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-search .single-user-div input {
  height: 35px;
  width: 250px;
  text-indent: 1em;
  margin-bottom: .5em;
  border-radius: .5em;
  font-size: 1.125rem;
}

.admin-search .single-user-div button {
  padding: .2em 1em;
  border-radius: .3em;
}

.admin-search .table-div {
  width: 100%;
  padding-inline: 2em;
  margin-top: 2em;
}

.admin-search table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.admin-search thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.admin-search table,
.admin-search th,
.admin-search td {
  border: 1px solid;
  padding: 12px 15px;
}

.admin-search table .action-row,
.admin-search th .action-row,
.admin-search td .action-row {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.admin-search table .action-row button,
.admin-search th .action-row button,
.admin-search td .action-row button {
  border: none;
  padding: .2em 1em;
  border-radius: .3em;
}

.edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  gap: 1em;
}

.edit-form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-form .container input, .edit-form .container select {
  width: 250px;
  height: 35px;
  border-radius: .5em;
  text-indent: 1em;
  font-size: 1.125rem;
}

.edit-form button {
  width: 100px;
  padding: .3em 1em;
  font-weight: 600;
  border-radius: .3em;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.dark--mode {
  background-color: #0d0c14;
  color: white;
}

#root {
  height: 100vh;
}

::-moz-selection {
  color: white;
  background-color: brown;
}

::selection {
  color: white;
  background-color: brown;
}

.modal {
  padding: .3em .5em;
  text-align: center;
  color: red;
  border: 2px solid white;
}
/*# sourceMappingURL=root.css.map */